

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section {
    margin-top: 30px;
    margin-bottom: 50px;
}

label {
    min-width: 100px;
}

ul {
    padding-left: 0;
}
.skills li {
    list-style-type: none;
}

.skills button:hover {
    color: #F0F0F0;
    background-color: #333;
}












