<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Savage World Character Creator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/modernizr/modernizr.js"></script>
        <script src="components/savage-worlds/savage.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="lib/CharGen.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Savage Worlds Character Creator</a>
                </div>
                <div class="navbar-collapse collapse">
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div class="container" ng-app>
            <section id="application" ng-controller="CharGen">
                <section>
                    <h1>1. Name &amp; Race</h1>
                    <p>Pick a name and your character's race. Humans gain an additional Edge.</p>
                    <div>
                        <label>Name</label>
                        <input ng-model="character.name">
                    </div>
                    <div>
                        <label>Race</label>
                        <select ng-model="character.race" ng-options="race.name for race in races"></select>
                </section>
                
                <section>
                    <h2>2. Attributes</h2>
                    <p>Define your hero's abilities by choosing thier attributes. Attributes make it easier for you to take skills related skills. You have <em>5 points</em> to spend.</p>
                    <div>
                        <label>Attribute Points Spent</label>
                        <span>{{character.getAttributePoints()}}/5</span>
                    </div>
                    <div>
                        <label>Agility</label>
                        <span>{{character.agility.value}}</span>
                        <button ng-click="character.agility.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.agility.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Smarts</label>
                        <span>{{character.smarts.value}}</span>
                        <button ng-click="character.smarts.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.smarts.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Spirit</label>
                        <span>{{character.spirit.value}}</span>
                        <button ng-click="character.spirit.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.spirit.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Strength</label>
                        <span>{{character.strength.value}}</span>
                        <button ng-click="character.strength.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.strength.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Vigor</label>
                        <span>{{character.vigor.value}}</span>
                        <button ng-click="character.vigor.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.vigor.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </section>

                <section>
                    <h1>3. Skills</h1>
                    <p>Are you a fighter? or a scolar? You have <em>15 points</em> to spend.</p>
                    <div>
                        <label>Skill Points Spent</label>
                        <span>{{character.getSkillPoints()}}/15</span>
                    </div>
                    
                    <ul class="skills">
                        <li ng-repeat="skill in character.skills">
                            <label>{{skill.name}}</label>
                            <span>{{skill.value}}</span>
                            <button ng-click="skill.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                            <button ng-click="skill.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                            <button ng-click="character.skills.remove(skill.name)" class="btn">Unlearn</button>
                        </li>
                    </ul>
                    <h2>Available Skills</h2>
                    <h3 ng-if="availableAgilitySkills().length">Agility</h3>
                    <ul  class="skills">
                        <li ng-repeat="skill in availableAgilitySkills()">
                            <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                        </li>
                    </ul>
                    <h3 ng-if="availableSmartsSkills().length">Smarts</h3>
                    <ul  class="skills">
                        <li ng-repeat="skill in availableSmartsSkills()">
                            <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                        </li>
                    </ul>
                    <h3 ng-if="availableSpiritSkills().length">Spirit</h3>
                    <ul  class="skills">
                        <li ng-repeat="skill in availableSpiritSkills()">
                            <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                        </li>
                    </ul>
                    <h3 ng-if="availableStrengthSkills().length">Strength</h3>
                    <ul  class="skills">
                        <li ng-repeat="skill in availableStrengthSkills()">
                            <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                        </li>
                    </ul>
                </section>

                <section>
                    <h1>4. Edges &amp; Hinderances</h1>
                </section>
            </section>
            <hr>
        </div> <!-- /container -->
    </body>
</html>
