<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Savage World Character Creator - Beta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/modernizr/modernizr.js"></script>
        <script src="components/savage-worlds/savage.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/zeroclipboard/ZeroClipboard.min.js"></script>
        <script src="components/ng-clip/dest/ng-clip.js"></script>
        <script src="lib/CharGen.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Savage Worlds Character Creator - Beta</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#Name">Name &amp; Race</a></li>
                        <li><a href="#Attributes">Attributes</a></li>
                        <li><a href="#Skills">Skills</a></li>
                        <li><a href="#Hindrances">Hindrances</a></li>
                        <li><a href="#Edges">Edges</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        
        <section id="application" ng-controller="CharGenController" ng-app="app">
            <section class="alt">
                <div class="container">
                    <h1 id="Name">1. Name &amp; Race</h1>
                    <p>Pick a name and your character's race. Humans gain an additional Edge.</p>
                    <div>
                        <label>Name</label>
                        <input ng-model="character.name">
                    </div>
                    <div>
                        <label>Race</label>
                        <select ng-model="character.race" ng-options="race.name for race in races"></select>
                    </div>
                </div>
            </section>
            
            <section>
                <div class="container">
                    <h1 id="Attributes">2. Attributes</h1>
                    <p>Define your hero's abilities by choosing thier attributes. Attributes make it easier for you to take skills related skills. You have <em>{{characterLimits.attributePoints}} points</em> to spend.</p>
                    <div>
                        <label>Attribute Points Spent</label>
                        <span ng-class="{'label':true, 'label-danger': characterLimits.isAttributesOver(character), 'label-default':  !characterLimits.isAttributesOver(character) }">{{character.getAttributePoints()}}/{{characterLimits.attributePoints}}</span>
                    </div>
                    <div>
                        <label>Agility</label>
                        <span>{{character.agility.value}}</span>
                        <button ng-click="character.agility.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.agility.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Smarts</label>
                        <span>{{character.smarts.value}}</span>
                        <button ng-click="character.smarts.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.smarts.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Spirit</label>
                        <span>{{character.spirit.value}}</span>
                        <button ng-click="character.spirit.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.spirit.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Strength</label>
                        <span>{{character.strength.value}}</span>
                        <button ng-click="character.strength.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.strength.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div>
                        <label>Vigor</label>
                        <span>{{character.vigor.value}}</span>
                        <button ng-click="character.vigor.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                        <button ng-click="character.vigor.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <h3>Derived Statistics</h3>
                    <div>
                        <label>Toughness</label>
                        <span>{{character.toughness}}</span>
                    </div>
                    <div>
                        <label>Parry</label>
                        <span>{{character.parry}}</span>
                    </div>
                    <div>
                        <label>Charisma</label>
                        <span>{{character.charisma}}</span>
                    </div>
                </div>
            </section>

            <section class="alt">
                <div class="container">
                    <h1 id="Skills">3. Skills</h1>
                    <p>Are you a lover or a fighter? a thug or a scolar? You have <em>{{characterLimits.skillPoints}} points</em> to spend.</p>
                    <div>
                        <label>Skill Points Spent</label>
                        <span ng-class="{label:true, 'label-danger': characterLimits.isSkillsOver(character), 'label-default': !characterLimits.isSkillsOver(character)}">{{character.getSkillPoints()}}/{{characterLimits.skillPoints}}</span>
                    </div>
                    
                    <ul class="skills three-column acquired">
                        <li ng-repeat="skill in character.skills">
                            <label>{{skill.name}}</label>
                            <span>{{skill.value}}</span>
                            <button ng-click="skill.decrease()" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
                            <button ng-click="skill.increase()" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
                            <button ng-click="character.skills.remove(skill.name)" class="btn">Unlearn</button>
                        </li>
                    </ul>
                    <h2>Available Skills</h2>
                    <ul class="three-column">
                        <li>
                            <h3 ng-if="availableAgilitySkills().length">Agility</h3>
                            <ul  class="skills">
                                <li ng-repeat="skill in availableAgilitySkills()">
                                    <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 ng-if="availableSmartsSkills().length">Smarts</h3>
                            <ul  class="skills">
                                <li ng-repeat="skill in availableSmartsSkills()">
                                    <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 ng-if="availableSpiritSkills().length">Spirit</h3>
                            <ul  class="skills">
                                <li ng-repeat="skill in availableSpiritSkills()">
                                    <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 ng-if="availableStrengthSkills().length">Strength</h3>
                            <ul  class="skills">
                                <li ng-repeat="skill in availableStrengthSkills()">
                                    <button ng-click="learn(skill)" class="btn"><span class="glyphicon glyphicon-book"></span> &nbsp; Learn {{skill}}</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div>
                        
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <h1 id="Hindrances">4. Hindrances</h1>
                    <p>A character may take one Major Hindrance and up to two Minor Hindrances. You’re free to take more if you think they fit your character description, but you don’t get additional points for them.</p>
                    <ul class="hindrances">
                        <li ng-repeat="hindrance in character.hindrances">
                            <label>{{hindrance.name}}</label>
                            <span>{{hindrance.severity}}</span>
                            <p>{{hindrance.effect}}</p>
                            <button ng-click="character.hindrances.remove(hindrance)" class="btn">Remove</button>
                        </li>
                    </ul>
                    <h2>Available Minor Hindrances</h2>
                    <ul class="hindrances three-column">
                        <li ng-repeat="hindrance in availableMinorHindrances()">
                            <button ng-click="character.hindrances.add(hindrance)" class="btn"><span class="glyphicon glyphicon-thumbs-down"></span> &nbsp;{{hindrance.name}}</button>
                        </li>
                    </ul>
                    <h2>Available Major Hindrances</h2>
                    <ul class="hindrances three-column">
                        <li ng-repeat="hindrance in availableMajorHindrances()">
                            <button ng-click="character.hindrances.add(hindrance)" class="btn"><span class="glyphicon glyphicon-thumbs-down"></span> &nbsp;{{hindrance.name}}</button>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="alt">
                <div class="container">
                    <h1 id="Edges">5. Edges</h1>
                    <p></p>
                    <ul class="edges">
                        <li ng-repeat="edge in character.edges">
                            <label>{{edge.name}}</label>
                            <p>{{edge.effect}}</p>
                            <button ng-click="character.edges.remove(edge)" class="btn">Remove</button>
                        </li>
                    </ul>
                    <h2>Available Edges</h2>
                    <ul class="edges three-column">
                        <li ng-repeat="edge in availableEdges()">
                            <button ng-click="character.edges.add(edge)" class="btn"><span class="glyphicon glyphicon-star"></span> &nbsp;{{edge.name}}</button>
                        </li>
                    </ul>
                    
                </div>
            </section>

            <section class="container">
                <textarea class="text-representation character">{{character.toString()}}</textarea>
                <div>
                    <a href="#" class="btn" clip-copy="character.toString()" clip-click="clipboardFeedback='Copied to Clipboard!'">Copy to clipboard</a>
                    <span class="feedback">{{clipboardFeedback}}
                </div>
            </section>
        </section>
    </body>
</html>
